/* ===== SideBar ===== */
.sidebar {
  position: relative;
  display: block;
  transition: width 0.5s ease;
  height: 91vh;
  position: "absolute";
  top: .6vh;
  font-family: 'Lato';
  background-color: #ffffffa2;
  border-right: #262626 dotted  1px;
  
  
}

.expanded {
  width: 200px;
}

.collapsed {
  width: 60px;
}


/* copied css  */
/* TOGGLING THE SIDEBAR */

.sidebar.collapsed {
  width: 50px;
}
.sidebar.collapsed .text {
  opacity: 0;
  transition: var(--trans-05);
}
.sidebar.collapsed .nav-text {
  opacity: 0;
  display: none;
}

/* ====== Reusable CSS  ====== */
.sidebar .text {
  font-size: 18px;
  font-weight: 500;
  /* color: var(--text-color); */
  transition: var(--trans-05);
  white-space: nowrap;
  opacity: 1;
}

.sidebar image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar header {
  position: relative;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 6px; /* this wasn't in ther */
}

.sidebar li .icon {
  padding-right: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}

.sidebar li .icon,
.sidebar li .text {
  /* color: var(--text-color); */
  /* color: #1976d2; */
  color: #262626;
  /* color: #00eaff; */
  transition: var(--trans-04);
}
.sidebar li a {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--trans-03);
  height: 100%;
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.link {
  text-decoration: none;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.link {
  color: var(--sidebar-color);
  transition: var(--trans-02);
}

.sidebar li a.active {
  background: var(--primary-color); /* Change this to your desired style */
  color: var(--sidebar-color);
}

.sidebar li a.active .icon,
.sidebar li a.active .text {
  color: var(--sidebar-color);
}

.sidebar .search-box {
  background: var(--primary-color-light);
}
.sidebar .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background: transparent;
  padding: 10px;
}
.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar .image-text {
  display: flex;
  align-items: center;
  /* background: var(--primary-color); */
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  padding-left: 9px;
}
.header-text .profession {
  margin-top: -2px;
  padding-left: 30px;
}

/* === Chevron === */


.chevron .toggle{
  display: block;
  position: absolute;
  top: 64px;
  right: -10px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border: #262626 dotted 1px;
  background-color: #ffffffa2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #262626;
  z-index: 1000;
  font-size: 22px;
}


@media screen and (max-width : 1120px) {
  .sidebar.collapsed{
    display: none;
  }
  .chevron{
    display: none;
  }
  .sidebar{
    display: block;
    width: 100%;
    position: absolute;
    top: 7%;
    padding-top: 50px;
    background-color: white;
    z-index: 200;
  }
  .navlink{
    display: flex;
    /* justify-content: center; */
    padding-left: calc(35%);
    align-items: center;
    gap: 70px;
    /* background-color: blue; */
  }
}

/* =====Main Pages ==== */
.title{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: larger;
  margin-top: 5px;
}
.page{
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
  padding: 20px;
  background-color: #ffffffa2;
  height: 91%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: 'center';

}

.heading{
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255, 0.8); 
}

.notlogin{
  position : absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

/* ==== FORMS ==== */
.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}



/* === SMALLER COMPONENT === */
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--body-color);
  padding: 10px;
}


.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.date-input {
  width: 200px; /* Set width */
  height: 40px; /* Set height */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  font-size: 16px; /* Set font size */
  color: #333; /* Set text color */
  background-color: #fff; /* Set background color */
}